<div class="container" ng-show="!isLoading">
    <div class="row">
        <span class="badge  bg-color-darkorange margin-left-5 margin-top-5">Coming Soon</span>
    </div>
    <div class="row">
        <div class="col m2" ng-repeat="cinema in upcomingCinemas | emptyFilter : 'general.releaseDt'">
            <div class="card">
                <div class="card-image">
                    <a ui-sref="cinema({cinemaName:cinema.cinemaId})" href="#/cinema/{{cinema.cinemaId}}">
                        <img class="img-responsive img-fixed-height-250" src="{{cinema.general.posterUrl}}" alt="">
                    </a>
                </div>
                <div class="card-content">
                    <div class="card-tag bg-color-tomato" ng-if="cinema.general.releaseDt">{{cinema.general.releaseDt | date : 'mediumDate'}}</div>
                    <h4 class="ellipsis-text">
                        <a ui-sref="cinema({cinemaName:cinema.cinemaId})" href="#/cinema/{{cinema.cinemaId}}">{{cinema.name}}</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m2" ng-repeat="cinema in upcomingCinemas | emptyFilter : 'general.releaseDt' : true">
            <div class="card">
                <div class="card-image">
                    <a ui-sref="cinema({cinemaName:cinema.cinemaId})" href="#/cinema/{{cinema.cinemaId}}">
                        <img class="img-responsive img-fixed-height-250" src="{{cinema.general.posterUrl}}" alt="">
                    </a>
                </div>
                <div class="card-content">
                    <div class="card-tag bg-color-tomato" ng-if="cinema.general.releaseDt">{{cinema.general.releaseDt | date : 'mediumDate'}}</div>
                    <h4 class="ellipsis-text">
                        <a ui-sref="cinema({cinemaName:cinema.cinemaId})" href="#/cinema/{{cinema.cinemaId}}">{{cinema.name}}</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>