<spinner ng-show="isLoading"></spinner>
<div ng-if="!isLoading">
	<div class="container">
		<div class="row">
			<div class="col m2 col s12">
				<div class="card img-fixed-height-275 hide-on-small-only">
					<img class="img-fixed-height-275" src="http://res.cloudinary.com/weekendcinema/image/upload/v1/cinema/{{cinema.cinemaId}}-profile.jpg"
					 alt="">
				</div>
				<div class="card img-fixed-height-200 show-on-small hide-on-med-and-up">
					<img class="img-fixed-height-200" src="http://res.cloudinary.com/weekendcinema/image/upload/v1/cinema/{{cinema.cinemaId}}-cover.jpg"
					 alt="">
				</div>
			</div>
			<div class="col m4 col s12">
				<div class="padding-left-10">
					<h4>{{cinema.name}}</h4>
					<ul>
						<li ng-if="cinema.lng">Language : {{cinema.lng}}</li>
						<li ng-if="banners.length">Banner :
							<and list="banners"></and>
						</li>
						<li ng-if="cinema.general.genre.length">Genre :
							<and list="cinema.general.genre"></and>
						</li>
						<li ng-if="cinema.general.releaseDt">Release : {{ cinema.general.releaseDt | date :'mediumDate'}}
						</li>
						<li ng-if="cinema.general.duration">Duration : {{cinema.general.duration}}
						</li>
						<li ng-if="cinema.general.certificate">Certificate : {{cinema.general.certificate}}
						</li>
						<li ng-if="cinema.general.rating">Rating : {{cinema.general.rating}}
							<ul class="list-inline star-vote">
								<li ng-repeat="number in [1,2,3,4,5]">
									<i class="material-icons" ng-show="(number-cinema.general.rating)>=1">star_border</i>
									<i class="material-icons" ng-show="((number-cinema.general.rating)>0 && (number-cinema.general.rating)<1)">star_half</i>
									<i class="material-icons" ng-show="(number-cinema.general.rating)<=0">star</i>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="col m6 col s12">
				<div class="bs-callout bs-callout-info">
					<h4>Synopsis</h4>
					<p>
						{{cinema.name}} is a {{ cinema.general.releaseDt | date :'yyyy'}} Indian Telugu language
						<and list="cinema.general.genre"></and>
						cinema directed by {{getName(director.celebrityId)}} and produced by {{getName(producer.celebrityId)}} under the banner of
						<and list="banners"></and>.
					</p>
					<owl-carousel class="owl-carousel carousel owl-theme" data-options="{   autoplay:true,
					autoplayTimeout:1000,
					autoplayHoverPause:true,nav:false,dots:false,margin:5,responsive:{
											0:{
												items:3
											},
											500:{
											items:5
											}
										}}">
						<owl-carousel-item ng-repeat="item in people">
							<div class="card">
								<div class="card-image">
									<a ui-sref="celebrity({celebrityId:item.celebrityId})" href="#/celebrity/{{item.celebrityId}}">
										<img class="img-responsive img-fixed-height-120" src="http://res.cloudinary.com/weekendcinema/image/upload/v1/celebrity/{{item.celebrityId}}-profile.jpg"
										 alt="" ui-sref="celebrity({celebrityId:item.celebrityId})" href="#/celebrity/{{item.celebrityId}}">
									</a>
								</div>
								<div class="card-content">
									<div class="card-tag-small bg-color-tomato">
										<span>{{item.type}}</span>
									</div>
									<h5 class="ellipsis-text">
										{{getName(item.celebrityId)}}
									</h5>
								</div>
							</div>
						</owl-carousel-item>
					</owl-carousel>
				</div>
			</div>
		</div>
	</div>
	<div class="container" ng-if="cinema.review">
		<div class="row">
			<span class="badge bg-color-tomato">Review</span>
		</div>
		<div class="row">
			<div class="col m6">
					<h5>{{cinema.review.intro}}</h5>
				<span class="badge bg-color-MUSIC">కథ-కథనం</span>
				<h5>{{cinema.review.story}}</h5>
				<span class="badge bg-color-MUSIC">నటీనటులు</span>
				<h5>{{cinema.review.actors}}</h5>
				<span class="badge bg-color-MUSIC">దర్శకత్వం</span>
				<h5>{{cinema.review.director}}</h5>
				<span class="badge bg-color-MUSIC">సంగీతం</span>
				<h5>{{cinema.review.music}}</h5>

			</div>
			<div class="col m6">
				<div class="row">
					<div class="col m6">
						<i class="material-icons">thumb_up</i>
						<h5>
							<li ng-repeat="plus in cinema.review.plus">{{plus}}</li>
						</h5>
					</div>

					<div class="col m6">
						<i class="material-icons">thumb_down</i>
						<h5>
							<li ng-repeat="minus in cinema.review.minus">{{minus}}</li>
						</h5>
					</div>
				</div>
				
				<h5 class="color-tomato">{{cinema.review.finalWords}}</h5>
				<div class="fb-like" data-href="{{fbLikes}}" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
				<div class="fb-comments" data-href="{{fbLikes}}" data-numposts="5" data-colorscheme="light"></div>
			</div>
		</div>
	</div>
	<div class="container" ng-if="cinema.songs.list.length || cinema.songs.releaseDt">
		<div class="row">
			<div class="col m6 s12">
				<div class="video-container">
					<my-youtube class="youtube-300" code="currentSong"></my-youtube>
				</div>
			</div>
			<div class="col  m6 s12  scrollbar row-height-320" id="style-5">
				<a href="" ng-click="setCurrentSong(cinema.songs.youtubeUrl)">
					JUKE BOX
					<i class="material-icons left">queue_music</i>
				</a>
				<div class="card-panel grey lighten-5 z-depth-1" ng-repeat="song in cinema.songs.list">
					<div class="row valign-wrapper">
						<span>
							<a href="" ng-click="setCurrentSong(song.youtubeUrl)">
								<i class="material-icons left">music_video</i>
							</a>
						</span>
						<span class="black-text">
							<h5 class="color-MUSIC">{{song.name}}</h5>
							Lyrics :
							<span ng-repeat="item in song.lyricist">{{getName(item.celebrityId)}} </span>
							| Singers :
							<span ng-repeat="item in song.singers">{{getName(item.celebrityId)}} </span>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container" ng-show="cinema.videos.length">
		<span class="badge bg-color-TEASER">Trailers/Videos</span>
		<div class="row">
			<owl-carousel class="owl-carousel carousel owl-theme" data-options="{autoplay:false,nav:true,dots:false,video:true,responsive:{
				0:{
					items:1
				},
				500:{
				items:2
				}
			}}">
				<owl-carousel-item ng-repeat="video in cinema.videos">
					<my-youtube class="youtube-320" code="video.youtubeUrl"></my-youtube>
				</owl-carousel-item>
			</owl-carousel>
		</div>
	</div>

	<div class="container" ng-show="cinema.images.length">
		<span class="badge bg-color-tomato">Images</span>
		<owl-carousel class="owl-carousel carousel owl-theme" data-options="{nav:false,dots:true}">
			<owl-carousel-item ng-repeat="img in cinema.general.photos">
				<div class="card">
					<img class="card-img-top img-responsive" src="{{img}}" alt="Card image cap">
				</div>
			</owl-carousel-item>
		</owl-carousel>
	</div>
</div>