<div class="container" ng-show="!isLoading">
    <div class="row">
        <div class="col m6">
            <span class="badge  bg-color-darkorange  margin-top-5">In Shooting</span>
            <ol>
                <li ng-repeat="cinema in upcomingCinemas | emptyFilter : 'general.releaseDt':true">
                    <a ui-sref="cinema({cinemaName:cinema.cinemaId})" href="#/cinema/{{cinema.cinemaId}}">{{cinema.name}}</a>
                </li>
            </ol>
        </div>
        <div class="col m6">
            <span class="badge  bg-color-tomato  margin-top-5">Ready to Release</span>
            <ol>
                <li ng-repeat="cinema in upcomingCinemas | emptyFilter : 'general.releaseDt'">
                    <a ui-sref="cinema({cinemaName:cinema.cinemaId})" href="#/cinema/{{cinema.cinemaId}}">{{cinema.name}}</a>
                </li>
            </ol>
        </div>
    </div>
</div>