<spinner ng-show="isLoading"></spinner>

<div class="container" ng-show="!isLoading">
	<div class="row">
		<div class="col-md-2 col-xs-6">
			<div class="card">
				<img class="img-fixed-height-250" src="{{cinema.general.posterUrl}}" alt="Card image cap">
			</div>
		</div>
		<div class="col-md-4 col-xs-6">
			<div class="padding-left-10">
				<h3>{{cinema.name}}</h3>
				<ul>
					<li ng-if="cinema.lng">Language : {{cinema.lng}}</li>
					<li ng-if="cinema.general.banner.length">Banner :
						<and list="cinema.general.banner"></and>
					</li>
					<li ng-if="cinema.general.genre.length">Genre :
						<and list="cinema.general.genre"></and>
					</li>
					<li ng-if="cinema.general.releaseDt">Release : {{cinema.general.releaseDt | date :'mediumDate'}}
					</li>
					<li ng-if="cinema.general.duration">Duration : {{cinema.general.duration}}
					</li>
					<li ng-if="cinema.general.certificate">Certificate : {{cinema.general.certificate}}
					</li>
					<li ng-if="cinema.general.rating">Rating : {{cinema.general.rating}}
						<ul class="list-inline star-vote">
							<li ng-repeat="number in [1,2,3,4,5]">
								<i class="material-icons" ng-show="(number-cinema.general.rating)>=1">star_border</i>
								<i class="material-icons" ng-show="((number-cinema.general.rating)>0 && (number-cinema.general.rating)<1)">star_half</i>
								<i class="material-icons" ng-show="(number-cinema.general.rating)<=0">star</i>
							</li>
						</ul>
					</li>
					<!-- <li> Watch trailer here <i class="fa fa-2x fa-youtube-play color-tomato" aria-hidden="true"></i>
					</li> -->
				</ul>
			</div>
		</div>
		<div class="col-md-6 col-xs-12">
			<div class="bs-callout bs-callout-info">
				<h4>Synopsis</h4>
				<p>
					{{cinema.name}} is a {{cinema.general.releaseDt | date :'yyyy'}} Indian Telugu-language
					<and list="cinema.general.genre"></and>
					cinema directed by {{director.name}} and produced by {{producer.name}} under the banner of
					<and list="cinema.general.banner"></and>.
				</p>
				<owl-carousel class="owl-carousel carousel owl-theme" data-options="{    autoplay:true,
					autoplayTimeout:1000,
					autoplayHoverPause:true,nav:false,dots:false,margin:5,responsive:{
											0:{
												items:3
											},
											500:{
											items:5
											}
										}}">
					<owl-carousel-item ng-repeat="item in people">
						<div class="card">
							<div class="card-imgage">
								<img class="img-responsive img-fixed-height-100" src="{{item.img}}" alt="No Image found" ui-sref="celebrity({celebrityName:item.celebrityId})"
								 href="#/celebrity/{{item.celebrityId}}">
							</div>
							<div class="card-content">
								<h4 class="ellipsis-text">
									<a ui-sref="celebrity({celebrityName:item.celebrityId})" href="#/celebrity/{{item.celebrityId}}" data-toggle="tooltip" title="{{item.name}}">{{item.name}}</a>
								</h4>
							</div>
						</div>
					</owl-carousel-item>
				</owl-carousel>
			</div>
		</div>
	</div>
	<div class="row">
		<ul class="tabs tabs-fixed-width tab-demo z-depth-1">
			<li class="tab active">
				<a href="#about" class="active">About</a>
			</li>
			<li class="tab">
				<a href="#songs">Songs</a>
			</li>
			<li class="tab">
				<a href="#test4">Trailers</a>
			</li>
			<li class="tab">
				<a href="#test0">Images</a>
			</li>
		</ul>
		<div id="about" class="col s12">
			<p>About</p>
		</div>
		<div id="songs" class="col s12">
			<div ng-show="cinema.songs.list.length || cinema.songs.releaseDt">
				<div class="col  m6" ng-show="currentSong">
					<my-youtube class="youtube-320" code="currentSong"></my-youtube>
				</div>
				<div class="col  m6">
					<span class="badge bg-color-MUSIC">Songs</span>
					<a href="" ng-click="setCurrentSong(cinema.songs.youtubeUrl)">All Songs</a>
					<ol>
						<li ng-repeat="song in cinema.songs.list">
							<a href="" ng-click="setCurrentSong(song.youtubeUrl)">
								<h4 class="color-MUSIC">{{song.name}}</h4>
							</a>Lyrics :
							<span n>
								<and list="song.lyricist"></and>
							</span> | Singers:
							<span>
								<and list="song.singers"></and>
							</span>
						</li>
					</ol>
				</div>
			</div>
		</div>
		<div id="test4" class="col s12">
			<div class="col-md-12">
				<owl-carousel class="owl-carousel carousel owl-theme" data-options="{autoplay:false,nav:true,dots:false,video:true,responsive:{
							0:{
								items:1
							},
							500:{
							items:2
							}
								}}">
					<owl-carousel-item ng-repeat="video in cinema.videos">
						<my-youtube class="youtube-320" code="video.url"></my-youtube>
					</owl-carousel-item>
				</owl-carousel>
			</div>
		</div>
		<div id="test0" class="col s12">
			<div ng-show="cinema.images.length">
				<span class="badge bg-color-tomato">Images</span>
				<owl-carousel class="owl-carousel carousel owl-theme" data-options="{nav:false,dots:true}">
					<owl-carousel-item ng-repeat="img in cinema.general.photos">
						<div class="card">
							<img class="card-img-top img-responsive" src="{{img}}" alt="Card image cap">
						</div>
					</owl-carousel-item>
				</owl-carousel>
			</div>
		</div>
	</div>
</div>