<footer class="page-footer bgc-darkslategray">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<p class="grey-text text-lighten-4">Weekend Cinema is one stop for all telugu cinema updates, news, trailers, teaser, events, birthdays, short films and
					many more ...</p>
				<p>Genuine Cinema updates</p>
			</div>
			<div class="col l3 s12">
				<ul>
					<li>
						<a class="white-text" href="/terms">Terms</a>
					</li>

					<li>
						<a class="white-text" href="/privacy">Privacy</a>
					</li>
					<li>
						<a class="white-text" href="/Contact Us">Contact</a>
					</li>
					<li>
						<a class="white-text" href="/about">About Us</a>
					</li>
				</ul>
			</div>
			<div class="col l3 s12">
				<ul>
					<li>
						<a class="white-text" href="#!">Twitter</a>
					</li>
					<li>
						<a class="white-text" href="#!">Youtube</a>
					</li>
					<li>
						<a class="white-text" href="#!">Instagram</a>
					</li>
					<li>
						<a class="white-text" href="#!">Facebook</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			Made with
			<i class="material-icons">favorite</i> by Weekend Cinema Team
		</div>
	</div>
</footer>