<div class="container">

    <!-- Modal Trigger -->
    <a class="waves-effect waves-light btn modal-trigger" href="#post">Add Post</a>

    <!-- Modal Structure -->
    <div id="post" class="modal">
        <div class="modal-content">
            <h4>Post</h4>
            <form ng-submit="submitPost(post)" name="form">
                <div class="form-group">
                    <span>Name</span>
                    <input type="text" class="form-control" ng-model="name" name="postName" required>
                </div>
                <div class="form-group">
                    <span>Language</span>
                    <div class="input-field">
                        <select class="form-control" ng-model="post.lang" ng-options="name for name in ['Telugu']" required>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <span>Type </span>
                    <div class="input-field">
                    <select class="form-control" ng-model="post.type" ng-options="name for name in postType" required>
                    </select>
                    </div>

                    <span>Media URL</span>
                    <br>
                    <span ng-show="media.video.length" ng-repeat="item in media.video">{{item}}</span>
                    <span ng-show="media.img.length" ng-repeat="item in img.video">{{item}}</span>
                    <input type="text" class="form-control" ng-show="post.type" ng-model="postMediaUrl" name="postMediaUrl" required>
                    <input type="button" value="Add" class="btn btn-primary" ng-show="post.type && postMediaUrl" ng-click="addPostMedia(postMediaUrl)"
                        name="postMediaUrl" required>
                </div>
                <div class="form-group">
                    <span>{{post.lang}}</span>
                    <br>
                    <span>Title</span>
                    <input type="text" class="form-control" ng-model="post.local.ttl" name="localTtl" required>
                    <span>Message</span>
                    <textarea class="form-control" rows="5" ng-model="post.local.text" name="localText" required></textarea>
                </div>
                <div class="form-group">
                    <span>English</span>
                    <br>
                    <span>Title</span>
                    <input type="text" class="form-control" ng-model="post.eng.ttl" name="engTtl" required>
                    <span>Message</span>
                    <textarea class="form-control" rows="5" ng-model="post.eng.text" name="engText" required></textarea>
                </div>
                <div class="form-group">
                    <div class="modal-footer">
                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">close</a>
                        <input type="submit" class="btn btn-primary" ng-disabled="form.$invalid" />
                        <span ng-show="postSuccess.status == 'duplicate'">Post name Already exists !!</span>
                        <span ng-show="postSuccess.status == 'Success'">Added Successfully</span>
                    </div>
                    <div class="form-group">
                    </div>
            </form>
            </div>
        </div>
    </div>