<spinner ng-show="isLoading"></spinner>
<div ng-if="!isLoading">
	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
						<!-- Wrapper for slides -->
						<div class="carousel-inner" role="listbox">
							<div class="item" ng-class="{active: $index == 0 }" ng-repeat="post in news">
								<a ui-sref="post({postName:post._id})" href="#/post/{{post._id}}">
									<img class="img-fixed-height-250-h img-responsive" src="{{post.media.img[0]}}">
								</a>
								<div class="carousel-caption">
									<span>{{post.local.ttl}}</span>
								</div>
							</div>
							<!-- Controls -->
							<a class="left carousel-control" data-target="#carousel-example-generic" role="button" data-slide="prev">
								<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
							</a>
							<a class="right carousel-control" data-target="#carousel-example-generic" role="button" data-slide="next">
								<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card-panel">
						<div class="margin-left-0">
							<span class="badge bg-color-tomato">Trending</span>
						</div>
						<div class="row">
							<ul>
								<li ng-repeat="post in videos.slice(0,5)">
									<a ui-sref="post({postName:post._id})" href="#/post/{{post._id}}"> {{post.local.ttl}}</a>
								</li>
							</ul>
						</div>
						<a href="/calendar">more events</a>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card-panel">
						<div class=" margin-left-0">
							<span class="badge bg-color-dodgerblue">What is Next ?</span>
						</div>
						<div class="row">
							<ol>
								<li ng-repeat="cinema in upcomingCinemas | emptyFilter : 'general.releaseDt'| limitTo :10">
									<a class="ellipsis-text" ui-sref="cinema({cinemaName:cinema.cinemaId})" href="#/cinema/{{cinema.cinemaId}}">
										{{cinema.general.releaseDt|shortDate2}} : {{cinema.name}}
									</a>
								</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<span class="badge bg-color-tomato">Reviews</span>
		</div>
		<div class="row">
			<div class="col m12 s12">
				<owl-carousel class="owl-carousel carousel owl-theme" data-options="{ 
					margin:5,
					autoplay: flase,
					items:10,
					autoplayTimeout:3000,
					autoplayHoverPause:true,
					dots: false,
					nav: false,
					responsive:{
							0:{
								items:2
							},
							500:{
								items:8
							}
					}
					}">
					<owl-carousel-item ng-repeat="cinema in recentCinemas">
						<div class="card">
							<div class="card-image">
								<a ui-sref="cinema({cinemaName:cinema.cinemaId})" href="#/cinema/{{cinema.cinemaId}}">
									<img class="img-responsive img-fixed-height-150" src="{{cinema.general.posterUrl}}" alt="">
								</a>
							</div>
							<div class="card-content">
								<div class="card-tag bg-color-tomato" ng-show="{{cinema.general.rating}}">
									{{cinema.general.rating}}
								</div>
								<h4 class="ellipsis-text">
									<a ui-sref="cinema({cinemaName:cinema.cinemaId})" href="#/cinema/{{cinema.cinemaId}}" data-toggle="tooltip" title="{{cinema.name}}">{{cinema.name}}</a>
								</h4>
								<ul class="list-inline star-vote">
									<li ng-repeat="number in [1,2,3,4,5]">
										<i class="material-icons small" ng-show="(number-cinema.general.rating)>=1">star_border</i>
										<i class="material-icons small" ng-show="((number-cinema.general.rating)>0 && (number-cinema.general.rating)<1)">star_half</i>
										<i class="material-icons small" ng-show="(number-cinema.general.rating)<=0">star</i>
									</li>
								</ul>
							</div>
						</div>
					</owl-carousel-item>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<span class="badge bg-color-TEASER">Trailers</span>
		</div>
		<div class="row">
				<div class="col-md-4">
						<div class="card">
							<a class="card-image" ui-sref="post({postName:videos[0]._id})" href="#/post/{{videos[0]._id}}">
								<img class="img-responsive" src="https://i.ytimg.com/vi/{{videos[0].media.video[0]}}/mqdefault.jpg" alt="">
							</a>
							<div class="card-content">
								<h4>{{videos[0].local.ttl}}</h4>
							</div>
						</div>
						<div class="card">
								<a class="card-image" ui-sref="post({postName:videos[1]._id})" href="#/post/{{videos[1]._id}}">
									<img class="img-responsive" src="https://i.ytimg.com/vi/{{videos[1].media.video[0]}}/mqdefault.jpg" alt="">
								</a>
								<div class="card-content">
									<h4>{{videos[1].local.ttl}}</h4>
								</div>
							</div>
					</div>
				<div class="col-sm-4">
						<div class="card horizontal" ng-repeat="post in videos.slice(3,10)">
							<div class="card-img">
								<img src="https://i.ytimg.com/vi/{{post.media.video[0]}}/mqdefault.jpg" alt="">
							</div>
							<div class="card-content">
								<h5>
									<a ui-sref="post({postName:post._id})" href="#/post/{{post._id}}">{{post.local.ttl}}</a>
								</h5>
								<ul class="thumb-info">
									<li ng-bind="post.lstMntDT| date:'mediumDate'"></li>
								</ul>
							</div>
						</div>
					</div>
			<div class="col-sm-4">
				<div class="card horizontal" ng-repeat="post in videos.slice(10,17)">
					<div class="card-img">
						<img src="https://i.ytimg.com/vi/{{post.media.video[0]}}/mqdefault.jpg" alt="">
					</div>
					<div class="card-content">
						<h5>
							<a ui-sref="post({postName:post._id})" href="#/post/{{post._id}}">{{post.local.ttl}}</a>
						</h5>
						<ul class="thumb-info">
							<li ng-bind="post.lstMntDT| date:'mediumDate'"></li>
						</ul>
					</div>
				</div>
			</div>
			
		</div>
		</div>
	</div>
</div>