<spinner ng-show="isLoading"></spinner>
<div ng-if="!isLoading">
    <div class="container">
        <div class="row">
            <div class="col m5 col s12 align-right">
                    <h4 class="bg-color-mediumseagreen">{{getName(celebrityId)}}</h4>
                    <ul>
                        
                        <li>Height : 5.10</li>
                        <li>Born : 22 August 1955</li>
                        <li>Age : 62 </li>
                    </ul>
            </div>
            <div class="col m2 s12">
                    <div class="card img-fixed-height-250">
                            <img class="img-fixed-height-250" src="http://res.cloudinary.com/weekendcinema/image/upload/v1/celebrity/{{celebrityId}}-profile.jpg"
                                alt="">
                          
                        </div>
            </div>
            <div class="col m5">
                No of Cinemas : {{filmography.length}}
            </div>
        </div>
    </div>
    <div class="container">
        <span class="badge bg-color-MUSIC">Filmography</span>
        <div class="row">
            <div class="col-md-12">
                <ul class="timeline-v2">
                    <li class="equal-height-columns" ng-repeat="cinema in filmography">
                        <div class="cbp_tmtime equal-height-column" style="height: 162px;">
                            <span>{{ cinema.general.releaseDt|date:'mediumDate' }}</span>
                            <a ui-sref="cinema({cinemaName:cinema.cinemaId})" href="#/cinema/{{cinema.cinemaId}}">
                                <span>{{cinema.name}}</span>
                            </a>
                        </div>
                        <i class="cbp_tmicon rounded-x hidden-xs"></i>
                        <div class="cbp_tmlabel equal-height-column" style="height: 192px;">
                            <div class="row">
                                <owl-carousel class="owl-carousel carousel owl-theme" data-options="{    autoplay:true,
                                        autoplayTimeout:1000,
                                        autoplayHoverPause:true,nav:false,dots:false,margin:5,responsive:{
                                                                0:{
                                                                    items:3
                                                                },
                                                                500:{
                                                                items:7
                                                                }
                                                            }}">
                                    <owl-carousel-item ng-repeat="item in cinema.people">
                                        <div class="card">
                                            <div class="card-image">
                                                <a ui-sref="celebrity({celebrityId:item.celebrityId})" href="#/celebrity/{{item.celebrityId}}">
                                                    <img class="img-responsive img-fixed-height-150" src="http://res.cloudinary.com/weekendcinema/image/upload/v1/celebrity/{{item.celebrityId}}-profile.jpg"
                                                        alt="" ui-sref="celebrity({celebrityId:item.celebrityId})"
                                                        href="#/celebrity/{{item.celebrityId}}">
                                                </a>
                                            </div>
                                            <div class="card-content">
                                                <h5 class="ellipsis-text">
                                                    <a ui-sref="celebrity({celebrityId:item.celebrityId})" href="#/celebrity/{{item.celebrityId}}" data-toggle="tooltip" title="{{item.name}}">{{getName(item.celebrityId)}}</a>
                                                </h5>
                                            </div>
                                        </div>
                                    </owl-carousel-item>
                                </owl-carousel>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>