body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
nav ul a {
    font-size: 1.25rem;
}

nav .nav-wrapper {
    position: relative;
    height: 100%;
    width: 88%;
}
nav ul a {
    font-size: 1rem;
}
nav .brand-logo {
    font-size: 1rem;
}
nav {
    -webkit-box-shadow: none;
    box-shadow: none;
}
thead > tr {
    border-bottom: none;
}

.row {
    margin-bottom: 0
} 
.container{
    width: 88%;
}   
.card{
    margin: 0 0 5px 0;
}
.card-panel {
    padding: 5px;
    margin: 0px;
}

h5 {
    font-size: 1rem;
}

h4 {
    font-size: 1.5rem;
}
.carousel {
    height: 100%;
}
span.badge {
    min-width: 3rem;
    padding: 0 6px;
    margin: 0px; 
    text-align: center;
    font-size: 1rem;
    line-height: 22px;
    height: 22px;
    color: #fff;
    float: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.card-panel {
    padding: 5px;
    margin: 0px 0px;
}
.jumbotron .card{
    margin-top: 0px;
    margin-bottom: 0px;
}

.card .card-content {
    padding: 5px;
    border-radius: 0 0 2px 2px;
}

.card-img img {
    height: 100%;
}
.card .card-tag{
    left: 0px;
    top: 10px;
    z-index: 1;
    color: #fff;
    padding: 4px 10px;
    position: absolute;
}

.card .card-tag-small{
    left: 0px;
    top: 70px;
    z-index: 1;
    color: #fff;
    position: absolute;
    padding: 0px;
}
.card-tag-small span{
    font-size: 10px;
}
i.small {
    font-size: 1.6rem;
}
i.left {
    margin-right: 10px;
    margin-left: 10px;
}
.tabs {
    overflow-x: hidden;
}
.tabs .tab{
    color: #000;
}
.fc button {
    padding: 0 .6em;
    font-size: 1.25em;
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 2rem;
    background-color:#1976d2;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}

.row .col {
    padding:.5rem;
}
footer .row .col:first-child {
    padding-left: 0px;
}

footer .row .col:last-child {
    padding-right: 0px;
}
.col-md-3 span.badge {
    margin: 5px 5px 0px 0px;
}
@media screen and (max-width: 768px){
    nav .nav-wrapper {
        position: relative;
        height: 100%;
        width: 100%;
    }
    .container{
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }
    .row .col {
        float: none;
    }
    footer > .container{
        display: none;
    }
    .fc-list-item .material-icons {
        margin-top: 10px;
        margin-left: 5px;
    }
    .footer-copyright .container{
        padding: 0px 10px;
    }
}
