<spinner ng-show="isLoading"></spinner>
<div ng-if="!isLoading">
    <div class="container">
        <div class="row">
            <div class="col m6">
                
                    <img class="img-fixed-height-350 img-responsive" src="{{article.media.img[0]}}" ng-show="article.type == 'News'">
                    <div class="video-container" ng-show="article.type != 'News'">
                        <my-youtube class="youtube-320" code="article.media.video[0]"></my-youtube>
                    </div>
 
            </div>
            <div class="col m6">
                <small class="text-muted">
                    By Admin / Posted on {{article.lstmntDt | date:'medium'}}
                    <!--  <time-diff date="article.lstMntDT"></time-diff> ago -->
                </small>
                <h4 class="color-{{article.type}}">{{article.eng.ttl}} </h4>
                <div class="card-block">
                    <h5 class="">
                        <text text="article.eng.text"></text>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>
</div>